<h3>{{ titulo }}</h3>
<p>{{ subtitulo }}</p>
<hr>
<form [formGroup]="form" (ngSubmit)="registrarCliente()" novalidate>
  <div class="form-group">
	<div class="col-sm-3">    
      <label for="nombre">Nombre del cliente</label>
    </div>
    <div class="col-sm-6">
      <input 
      	type="text" 
      	class="form-control" 
      	formControlName="nombre" 
        name="nombre"
      	autocomplete="off" 
      	autofocus
        (keyup.esc)="volver()"
        placeholder="{{ placeholder }}">  
	      <div *ngIf="nombre.errors && (nombre.dirty || nombre.touched)">	    	
	  	    <div class="text-danger" *ngIf="nombre.errors.required">{{ validacionNombreRequired }}</div>	
	  	    <div class="text-danger" *ngIf="nombre.errors.minlength">{{ validacionNombreMinlength }}</div>
	      </div>
		</div>
  </div>  
  <div class="col-sm-offset-2 col-sm-10">				
  	<button type="submit" class="btn btn-primary" [disabled]="form.invalid">
  		<i class="fa fa-plus"></i>{{ registrar }}
  	</button>  
    <a class="btn btn-danger" [routerLink]="['/clientes']"> 
      <i class="fa fa-undo"></i> {{ cancelar }}
    </a>           	  	
  </div>
</form>
 
 <button id="modalError" hidden="true" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal"></button>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h5 class="modal-title" id="exampleModalLabel">{{ atencion }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ error }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">{{ aceptar }}</button>
      </div>
    </div>
  </div>
</div>
      